* {
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    overflow: hidden;
    background-color: #000;
    margin: 0;
}

#viewport {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1280px;
    height: 720px;
    background-color: #fff;
    -webkit-transform: translate(-50%,-50%);
    overflow: hidden;
}